<?xml version="1.0" encoding="utf-8"?>
<manifest package="demo.me.mydemoapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.UIActivity"
            android:label="@string/ui"/>
        <activity
            android:name=".ui.coordinator.CoordinatorActivity"
            android:label="@string/coordinator"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".ui.coordinator.CoordinatorActivity2"
            android:label="@string/coordinator"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".ui.coordinator.BehaviorActivity"
            android:label="@string/coordinator"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.bitmap.BitmapPreviewActivity"
            android:label="@string/title_activity_bitmap_preview"/>
        <activity android:name=".sp.SPActivity"/>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}"/>

        <activity android:name=".gradle.ChannelActivity">
        </activity>
        <activity android:name=".plugins.ButterKnifeActivity">
        </activity>
        <activity android:name=".test.TestActivity">
        </activity>
        <activity android:name=".test.SparseArrayActivity">
        </activity>
        <activity android:name=".ui.keyboard.KeyBoardActivity">
        </activity>
        <activity
            android:name=".ui.keyboard.KeyBoardForwardActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".ui.tab.TabTitleActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.RecyclerViewActivity">
        </activity>
        <activity android:name=".shader.ShaderActivity">
        </activity>
        <activity android:name=".input.KeyboardActivity">
        </activity>
        <activity android:name=".ui.clock.ClockActivity">
        </activity>
        <activity android:name=".ui.canvas.CanvasActivity">
        </activity>
        <activity android:name=".ui.colorMatrix.ColorMatrixActivity">
        </activity>
        <activity android:name=".ui.mesh.MeshActivity">
        </activity>
        <activity android:name=".ui.drag.DragActivity">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashActivity_Theme">
        </activity>
        <activity android:name=".ui.ConstraintLayoutActivity">
        </activity>
        <activity android:name=".parall.ParallActivity">
        </activity>
        <activity android:name=".lombok.LombokActivity">
        </activity>
        <activity android:name=".stop.StopTestActivity">
        </activity>
        <activity android:name=".ui.path.PathEffectActivity">
        </activity>
        <activity android:name=".ui.vector.VectorActivity">

        </activity>
        <activity android:name=".ui.view.CustomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>